@import "../../scss/App.scss";

// === Contact Us ===
.contact_us {
  min-height: 100vh;
  background-color: $color-black;
}


.form_label {
  @extend .text-main;
  color: $color-white;
}
.textarea {
  width: 100%;
  height: 100px;
}
.submit {
  margin-left: 15px;
}

// === / Contact Us ===
