@mixin font-face($font-name, $font-path, $font-weight, $font-style) {
    @font-face {
      font-family: $font-name;
      src: url(#{$font-path});
      font-weight: $font-weight;
      font-style: $font-style;
    }
  }
  @font-face {
    font-family: MyFont;
    src: url(../fonts/Bebas.ttf) /* TTF file for CSS3 browsers */
   }
   @font-face {
       font-family: Open;
       src: url(../fonts/OpenSans-Light.ttf)
   }
@import 'normalize.scss';

// === Mixins ===
@mixin color-nav {
    background-color: #1D1D1D;
    opacity: .9;
}
@mixin upper {
    text-transform: uppercase;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
@mixin main-header {
    text-align: center;
    font-size: 104px;
    font-weight: 800;
    letter-spacing: 6px;
    
}
@mixin parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
@mixin shadow-text {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

// === / Mixins ===

// === Variables ===
$color-white: #fff;
$color-gray: #c4c4c4;
$color-black: #0c0c0c;
$color-yellow: #f6c715;
$main-text: #ccc;
// === / Variables ===
* {
    box-sizing: border-box;
    font-family:"MyFont";
}
.header{
    background-image: url('../images/header-background.jpg');
    @include parallax;
    height: 100vh;
    text-align: center;
    @include upper;
    &-nav{
        @include color-nav;
        position: fixed;
        width: 100vw;
        z-index: 50;
        border-top: 4px solid #4f4f4f;
        height: 75px;
        align-items: center;
    }
    .nav-item a {
        color: $color-gray;
        padding: 20px 20px 15px;
        font-size: 18px;
        display: block;
        font-weight: 300;
    }
    h2{
        font-family:"MyFont";
        @include upper;
        font-weight: 800;
        letter-spacing: 6px;
        color: $color-white;
        text-align: center;
        font-size: 2em;
        color: $color-white;
        @include shadow-text;
    }
    h1 {
        font-family:"MyFont";
        text-align: center;
        padding: 0 20px;
        line-height: 80px;
        margin: 0 0 40px;
        @include upper;
        @include shadow-text;
        @include main-header;
        color: $color-white;
    }
}
.lotto {
    min-height: 100vh;
    @include flex-center;
}
// === Experience ===
.experience {
    min-height: 100vh;
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    
    
    &-img {
     display: flex;   
     padding: 25px 0 0;
    }
}
.vh {
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}
.heading-main, .heading-second {
    color: $color-white;
    font-family:"MyFont";
    text-align: center;
}
.heading-main {
    color: $color-yellow;
    @include main-header;
}
    .heading-second {
        color: $main-text;
        font-size: 22px;
        letter-spacing: 3px;
        font-weight: 700;
    }
.text-main {
    text-align: center;
    color: $main-text;
    padding: 25px 0 0;
   font-family: "Open";
   font-size: 14px;
   line-height: 30px;
}

.doughnut {
    width: 200px;
    height: 200px;
}